* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    min-width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow-container {
    position: relative;
    width: 500px;
    height: auto;
    overflow: hidden;
}
.slideshow {
    width: 100%;
    display: flex;
}
.slideshow img {
    min-width: 100%;
}
.fas {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#prevBtn {
    left: 20px;
}
#nextBtn {
    right: 20px;
}
.dots-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: calc(5 * 20 + 10px);
    display: flex;
}
.dot {
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 2px;
    opacity: 0.4;
}